.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8vh;
  background-color: rgba(14, 248, 248, 0.034);
}

.logo {
  margin-right: 20px;
  padding: 5px 13px;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 600;
  background-color: rgba(146, 146, 146, 0.137);
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo .link-home {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.span-level {
  font-weight: 600;
}

.slider {
  width: 340px;
  margin: 0 20px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: green;
  outline: none;
  border: 2px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
